#image {
  width: 300px;
  height: 200px;
  border: 2px solid #333;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  text-align: center;
  line-height: 200px;
  font-size: 16px;
}

.preview {
  width: 150px;
  margin: 10px;
  cursor: pointer;
}